# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TestingAssignment\DjangoDemo_for_Selenium\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
